<div class="card-body">
      <form [formGroup]="noteForm" (ngSubmit)="submit()">
        <div [hidden]="entitySchemaPropertyItem.isHidden" *ngFor="let entitySchemaPropertyItem of entitySchemaProperties; let entitySchemaPropertyItemIndex = index" class="form-group">
            <label for="{{entitySchemaName}}-{{entitySchemaPropertyItem.name}}">{{entitySchemaPropertyItem.displayName}}</label>
            <input formControlName="{{entitySchemaPropertyItem.name}}"
                id="{{entitySchemaName}}-{{entitySchemaPropertyItem.name}}" 
                type="{{entitySchemaPropertyItem.type}}"
                ngModel
                class="form-control">
            <div *ngIf="entitySchemaPropertyItem.formControl.touched && entitySchemaPropertyItem.formControl.invalid" class="alert alert-danger">
                <div *ngIf="entitySchemaPropertyItem.formControl.errors.required">{{entitySchemaPropertyItem.displayName}} is required.</div>
                <div *ngIf="entitySchemaPropertyItem.formControl.errors.minlength">{{entitySchemaPropertyItem.displayName}} should be {{entitySchemaPropertyItem.minLength}} character.</div>
            </div>
        </div>
      
        <button class="btn btn-primary" type="submit" [disabled]="!noteForm.valid">Submit</button>
    </form>
</div>