<div class="card-body">
    <form [formGroup]="noteForm" (ngSubmit)="submit()">
        <div 
            [hidden]="entitySchemaPropertyItem.isHidden" 
            [ngSwitch]="entitySchemaPropertyItem.type"
            *ngFor="let entitySchemaPropertyItem of entitySchemaProperties; let entitySchemaPropertyItemIndex = index" 
            class="form-group">
                <app-bh-text-control *ngSwitchCase="['text', 'textarea', 'date', 'password', 'datetime-local', 'month', 'time'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [minLength]="entitySchemaPropertyItem.minLength"
                    [maxLength]="entitySchemaPropertyItem.maxLength"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid"
                    [hasRequiredError]="entitySchemaPropertyItem.formControl.errors?.required"
                    [hasMinLengthError]="entitySchemaPropertyItem.formControl.errors?.minlength"
                    [hasMaxLengthError]="entitySchemaPropertyItem.formControl.errors?.maxlength">
                </app-bh-text-control>

                <app-bh-checkbox-control *ngSwitchCase="['checkbox'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid">
                </app-bh-checkbox-control>

                <app-bh-number-control *ngSwitchCase="['number', 'range'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [stepValue]="entitySchemaPropertyItem.stepValue"
                    [minValue]="entitySchemaPropertyItem.minValue"
                    [maxValue]="entitySchemaPropertyItem.maxValue"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [hasRequiredError]="entitySchemaPropertyItem.formControl.errors?.required"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid"
                    >
                </app-bh-number-control>

                <app-bh-select-control *ngSwitchCase="['select'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [placeHolder]="entitySchemaPropertyItem.placeHolder"
                    [optionItems]="entitySchemaPropertyItem.optionItems"
                    [dataSource]="entitySchemaPropertyItem.dataSource"
                    [hasRequiredError]="entitySchemaPropertyItem.formControl.errors?.required"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid"
                    >
                </app-bh-select-control>

                <app-bh-radio-control *ngSwitchCase="['radio'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [optionItems]="entitySchemaPropertyItem.optionItems"
                    [dataSource]="entitySchemaPropertyItem.dataSource"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid"
                ></app-bh-radio-control>
        </div>
        
        <button class="btn btn-primary" type="submit" [disabled]="!noteForm.valid">Submit</button>
    </form>
</div>