<div class="card-body">
      <form [formGroup]="noteForm" (ngSubmit)="submit()">
        <div 
            [hidden]="entitySchemaPropertyItem.isHidden" 
            [ngSwitch]="entitySchemaPropertyItem.type"
            *ngFor="let entitySchemaPropertyItem of entitySchemaProperties; let entitySchemaPropertyItemIndex = index" 
            class="form-group">
                <app-bh-text-control *ngSwitchCase="['text', 'textarea', 'number', 'date', 'password', 'datetime-local', 'month', 'time'].includes(entitySchemaPropertyItem.type) ? entitySchemaPropertyItem.type : ''"
                    [parentGroup]="noteForm"
                    [entitySchemaName]="entitySchemaName" 
                    [controlName]="entitySchemaPropertyItem.name"
                    [displayName]="entitySchemaPropertyItem.displayName"
                    [controlType]="entitySchemaPropertyItem.type"
                    [controlReadonly]="entitySchemaPropertyItem.readonly"
                    [minLength]="entitySchemaPropertyItem.minLength"
                    [hasTouched]="entitySchemaPropertyItem.formControl.touched"
                    [hasInvalid]="entitySchemaPropertyItem.formControl.invalid"
                    [hasRequiredError]="entitySchemaPropertyItem.formControl.errors?.required"
                    [hasMinLengthError]="entitySchemaPropertyItem.formControl.errors?.minlength">
                </app-bh-text-control>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!noteForm.valid">Submit</button>
    </form>
</div>