<div class="fade-in">
    <div class="row">
       <div class="col-12">
          <div class="card">
             <div class="card-header"> Striped Table</div>
             <div class="card-body">
                <table class="table table-responsive-sm table-striped">
                   <thead>
                        <tr>
                            
                            <th *ngFor="let tableColumnItem of tableColumns; let tableColumnItemIndex = index">{{tableColumnItem.columnDisplayName}}</th>
                            <!-- <th>Date registered</th>
                            <th>Role</th>
                            <th>Status</th> -->
                        </tr>
                   </thead>
                   <tbody>
                        <tr *ngFor="let tableDataItem of tableData; let tableDataItemIndex = index">
                            <td *ngFor="let tableDataColumnItem of tableColumns; let tableDataColumnItemIndex = index">
                                {{populateColumnData(tableDataItem, tableDataColumnItem)}}
                            </td>
                        </tr>
                   </tbody>
                </table>
                <ul class="pagination">
                   <li class="page-item" (click)="rePaging($event, 1)"><a class="page-link">Prev</a></li>

                   <li class="page-item" 
                        [ngClass]="{'active': numberOfPageItem===(tablePaging.currentPageNumber)}" 
                        *ngFor="let numberOfPageItem of numberOfPages; let numberOfPageItemIndex = index"
                        (click)="rePaging($event, numberOfPageItem)">
                        <a class="page-link">{{numberOfPageItem}}</a>
                    </li>

                   <li class="page-item">
                       <a class="page-link">Next</a>
                    </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
</div>